<html>
    <style>

        body {
            display:flex;
            justify-content:center;
        }

        .resultado {
            border:2px;
            border:2px solid black;
            border-radius: 30px;
        }

        h1, fieldset, legend{
            font-family:cambria;
            font-size:20px;
        }

        div {
            text-align:center;
            width:500px;
            height:500px;
            margin:auto;
        }


    </style>
    <body>
        <div>
            <fieldset class="resultado">
                <legend>RESULTADO</legend>
                <h1>{{var}}</h1>
            </fieldset>
        </div>
    </body>
</html>